* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.navbar-default .navbar-nav>li>a.focus {
	color: crimson;
}

.rt-margin {
	margin-right: 10px;
}

.navbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.carousel {
	margin-top: 40px;
}

.carousel-control.left {
	background-image: linear-gradient(to right,rgba(0,0,0,.15) 0,rgba(0,0,0,.0001) 100%)
}

.carousel-control.right {
	background-image: linear-gradient(to left,rgba(0,0,0,.15) 0,rgba(0,0,0,.0001) 100%)
}

.carousel-indicators li {
	background-color: lightgrey;
}

.carousel-indicators li.active {
	background-color: royalblue;
}

.marg-top {
	margin-top: 50px;
}

.home-products1 {
	background-color: aliceblue;
}
.home-products2 {
	background-color: lightgreen;
}
.home-products3 {
	background-color: pink;
}
.home-products4 {
	background-color: orange;
}

.intro {
	height: 300px;
}


/* COMPANY INFO */

#footer {
	text-align: center;
}

.info {
	padding-left: 0;
}

.info li {
	font-size: .8em;
	display: inline-block;
	padding: 10px;
	list-style-type: none;
}